   #{extends 'red.html' /}
   
<!DOCTYPE html>

<html>
<head>
    <title>File Uploads</title>
</head>
<body>
          <h1>Upload a file</h1>
                        <p>                                 
<b>Start Tweeting your Videos</b>
<ul>
<b>Or check out one of the existing threads</b><br>
<br/>
#{list names, as:'name'}
   <li> <a href="@{Files.listUploadsVideos(name.fileId)}">${name.fileName} - ${name.comment}</a></li>
   
#{/list}
</ul>
<ul>
<br/>
#{form @doUploadNewChat(), enctype:'multipart/form-data'}
<pre>
   <input type="file" name="file"><br/><br/>
   Comment: <input type="text" name="comment"><br/>
   Username: <input type = "text" name="user"><br/>
   <input type="hidden" name="isParent" value="n">
   <input type="submit" name="submit" value="Upload">
   </pre>
#{/form}
</ul>
</body>
</html>
